.movie-cards {
  margin: 50px 0;
}

.movie-cards h2 {
  margin-bottom: 10px;
}

.popular-movies {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}


.popular-movies .movie {
  cursor: pointer;
  width: 250px;
  flex: 0 0 auto;
  border-radius: 4px;
  text-align: center; 
}

 .popular-movies .movie img {
  width: 100%; 
  height: auto; 
  border-radius: 4px;
  object-fit: contain; 
}

@media(max-width:800px){
  .movie-cards{
    margin-top:20px;
    margin-bottom:0;
  }

  .movie-cards h2{
    font-size:20px;
  }

  .popular-movies .movie{
    width: 200px;
  }
}

@media(max-width:500px){

  .movie-cards h2{
    font-size:15px;
  }

  .popular-movies .movie{
    width: 150px;
  }
}